<nav class="nav">
  <div class="nav-container">
    <div class="logo">
      <a [routerLink]="'/'">Recipe Book</a>
    </div>

    <div class="btn nav__mob-menu-btn" role="button" (click)="onClickMobileMenu()">
      <span>{{isMobileMenuVisible ? 'Close' : 'Open'}} Menu</span>
    </div>


    <div class="menu-wrapper">
      <div class="menu-container">
        <ul [ngClass]="{'show-mob-menu': isMobileMenuVisible}">
          <li><a [routerLink]="'recipes'">Recipes</a></li>
          <li><a [routerLink]="'shopping-list'">Shopping List</a></li>
        </ul>
      </div>
      <div class="right-menu-container">
        <div class="dropdown" appDropdown>
          <div class="dropdown__button" role="button">
            <span>Manage</span>&nbsp;
            <span class="arrow-down"></span>
          </div>
          <div class="dropdown-menu">
            <a href="#" class="dropdown-item">Save Data</a>
            <a href="#" class="dropdown-item">Fetch Data</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
