@import '../../assets/scss/variables';

.nav {
  position: fixed;
  width: 100%;
  z-index: 9999;
  top: 0;
  background-color: white;

  &-container {
    display: flex;
    align-items: center;
    padding: 1rem;
    width: inherit;
  }

  &__mob-menu-btn {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 10px;
    padding: .5rem;
    font-size: 90%;

    @media only screen and (min-width: $bp-small) {
      display: none;
    }
  }

  & .menu-wrapper {
    flex: 1 0 auto;
    display: flex;

    & .menu-container {
      flex: 1 0 auto;
      display: flex;

      & ul {
        display: flex;
        flex-wrap: wrap;
        width: 80vw;
        align-items: center;

        @media only screen and (max-width: $bp-largest-x) {
          width: 60vw;
        }
        @media only screen and (max-width: $bp-large) {
          width: 50vw;
        }
        @media only screen and (max-width: $bp-small) {
          width: 100vw;
          position: absolute; // относительно элемента nav
          top: 4rem;
          left: 50%;
          transform: translate(100%);
          background-color: rgba(128,128,128,0.9);
          color: whitesmoke;
          border-radius: 3px;
          box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
          z-index: 1;
          padding-top: .5rem;
          padding-bottom: 1rem;
          transition: transform .3s ease-in;
          visibility: collapse;

          & li,
          & a,
          & p,
          & div {
            color: whitesmoke;
          }

        }

        & li {
          margin: .2rem 2rem;
          user-select: none;

          & > a {
            user-select: none;
          }

          @media only screen and (min-width: $bp-small) {
            transition: font-size .1s ease-out;
          }

          &.active {
            font-weight: 700;
            font-size: 120%;
          }
        }
      }

      & .show-mob-menu {

        @media only screen and (max-width: $bp-small) {
          transform: translate(-50%);
          visibility: visible;
        }
      }
    }

    & .right-menu-container {
      margin-left: auto;
    }
  }
}

.logo {
  font-size: 3rem;
  flex: 0 0 20rem;

  @media only screen and (max-width: $bp-small) {
    font-size: 2rem;
    flex: 0 0 auto;
  }
}

ul {
  list-style-type: none;
}
