<nav class="nav">
  <div class="nav-container">
    <div class="logo">
      <a href="#" class="">Recipe Book</a>
    </div>

    <div class="btn nav__mob-menu-btn" role="button" (click)="onClickMobileMenu()">
      <span>{{isMobileMenuVisible ? 'Close' : 'Open'}} Menu</span>
    </div>


    <div class="menu-wrapper">
      <div class="menu-container">
        <ul [ngClass]="{'show-mob-menu': isMobileMenuVisible}">
          <li><a href="#">Recipes</a></li>
          <li><a href="#">Shopping List</a></li>
          <li><a href="#">Another menu item 1</a></li>
          <li><a href="#">Another menu item 2</a></li>
          <li><a href="#">Another menu item 3</a></li>
          <li><a href="#">Another menu item 4</a></li>
          <li><a href="#">Another menu item 5</a></li>
          <li><a href="#">Another menu item 6</a></li>
        </ul>
      </div>
      <div class="right-menu-container">
        <div class="dropdown">
          <div class="dropdown__button" role="button" (click)="onClickDropdown()">
            <span>Manage</span>&nbsp;
            <span class="arrow-down" [ngStyle]="{'transform': isDropdownVisible ? 'rotate(90deg)' : ''}"></span>
          </div>
          <div class="dropdown-menu" *ngIf="isDropdownVisible">
            <a href="#" class="dropdown-item">Save Data</a>
            <a href="#" class="dropdown-item">Fetch Data</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
