<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <a
        *ngFor="let user of users"
        [routerLink]="['/users', user.id, user.name]"
        href="#"
        class="list-group-item">
        {{ user.name }}
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
<!--    <app-user></app-user>-->
    <router-outlet></router-outlet> <!--в этом router-outlet будут выводиться компоненты для путей определенных в
    конфиге роутера в файле app.module.ts как суб-роутеры.

    { path: 'users', component: UsersComponent, children: [
       { path: ':id/:name', component: UserComponent },
     ]},

    In this route-outlet, all the user-related child routes will be loaded.
    -->
  </div>
</div>


