<div class="row">
  <div class="col-12">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-12">
          <button type="submit" class="btn btn-success" [disabled]="!recipeForm.valid">Save</button>
          <button type="button" class="btn btn-danger">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              class="form-control"
              type="text"
              formControlName="name"
              id="name">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="imagePath">Image URL</label>
            <input
              class="form-control"
              type="text"
              formControlName="imagePath"
              id="imagePath"
            >
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="img-wrapper">
            <img src="" alt="image preview">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              class="form-control"
              id="description"
              formControlName="description"
              rows="11"
            ></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12" formArrayName="ingredients">
          <div class="row d-flex align-items-center"
               style="margin-top: 1rem"
               *ngFor="let ingredient of ingredients.controls; let i = index"
               [formGroupName]="i">
            <div class="col-8">
              <input type="text" class="form-control" formControlName="name">
            </div>
            <div class="col-2">
              <input type="number" min="0" class="form-control" formControlName="amount">
            </div>
            <div class="col-2">
              <button class="btn btn-danger">x</button>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-12">
              <button class="btn btn-success" type="button" (click)="onAddIngredient()">Add Ingredient</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
