<div class="row">
  <div class="col-12">
    <div class="recipe-detail-img">
      <img src="{{recipeDetail.imagePath}}" alt="{{recipeDetail.name}}">
    </div>
  </div>
</div><!-- image -->
<div class="row">
  <div class="col-12">
    <h1>{{ recipeDetail.name }}</h1>
  </div>
</div><!-- Recipe Name -->
<div class="row">
  <div class="col-12">
    <div class="recipe-detail-manage-panel">
      <button class="btn btn-primary recipe-detail-dropdown-btn" role="button" (click)="onClickDropdown()">
        <span>Manage Recipe</span>&nbsp;
        <span class="arrow-down" [ngStyle]="{'transform': isDropdownVisible ? 'rotate(90deg)' : ''}"></span>
      </button>
      <ul class="recipe-detail-dropdown-menu" *ngIf="isDropdownVisible">
        <li><a (click)="onClickToShoppingList()">To Shopping List</a></li>
        <li><a (click)="onEditRecipe()">Edit Recipe</a></li>
        <li><a>Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div><!-- Управление рецептом -->
<div class="row">
  <div class="col-12">
    {{recipeDetail.description}}
  </div>
</div><!-- Description -->
<div class="row">
  <div class="col-12">
    <ul class="app-ul">
      <li
        *ngFor="let ingredient of recipeDetail.ingredients"
      >
        {{ingredient.name}} - {{ ingredient.amount }}
      </li>
    </ul>
  </div>
</div><!-- Ингредиенты -->













