<div class="row">
  <div class="col-12">
    <div class="recipe-detail-img">
      <img src="" alt="">
    </div>
  </div>
</div><!-- image -->
<div class="row">
  <div class="col-12">
    <h1>Recipe Name</h1>
  </div>
</div><!-- Recipe Name -->
<div class="row">
  <div class="col-12">
    <div class="recipe-detail-manage-panel">
      <button class="btn btn-primary recipe-detail-dropdown-btn" role="button" (click)="onClickDropdown()">
        <span>Manage Recipe</span>&nbsp;
        <span class="arrow-down" [ngStyle]="{'transform': isDropdownVisible ? 'rotate(90deg)' : ''}"></span>
      </button>
      <ul class="recipe-detail-dropdown-menu" *ngIf="isDropdownVisible">
        <li><a href="#">To Shopping List</a></li>
        <li><a href="#">Edit Recipe</a></li>
        <li><a href="#">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div><!-- Управление рецептом -->
<div class="row">
  <div class="col-12">
    Description
  </div>
</div><!-- Description -->
<div class="row">
  <div class="col-12">
    Ingredients
  </div>
</div><!-- Ингредиенты -->













