<h3>Servers</h3>
<label for="inputText_1">Server Name</label>
<!--<input-->
<!--  type="text"-->
<!--  class="form-control"-->
<!--  id="inputText_1"-->
<!--  (input)="onUpdateServerName($event)"-->
<!--&gt; &lt;!&ndash;$event - ангуляровская зарезервированная переменная содержащая обект события. Как-то так.&ndash;&gt;-->
<input
  type="text"
  class="form-control"
  id="inputText_1"
  [(ngModel)]="serverName">
<!--ngModel это two-way-binding директива из ангуляровского модуля FormsModule-->
<!--<p>Server name is: {{serverName}}</p>-->
<p>Property binding example</p>
<p>Проперти байдинг :) делается с помощью квадратных скобок [ ]</p>
<button class="btn btn-primary"
        [disabled]="!allowNewServer"
        (click)="onClickAddServer()"
><!--Even binding делается с помощью круглых скобок. Таков синтаксис Ангуляра-->
  Add Server</button>
<p>{{serverCreationStatus}}</p>
<p>allowNewServer = {{ allowNewServer }}</p>
<p>An HTML <code>&lt;span&gt;</code> element with property <code>innerHTML</code> bound to an <i>allowNewServer</i> property: <span [innerHTML]="allowNewServer"></span></p>
<!--<app-server></app-server>-->

<div *ngFor="let server of servers">
  <app-server [serverName]="server"></app-server>
</div>
