<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <a
        *ngFor="let server of servers"
        [routerLink]="['/servers', server.id]"
        [queryParams]="{allowEdit: '1'}"
        fragment="loading"
        href="#"
        class="list-group-item">
        {{ server.name }}
      </a>
      <!-- [queryParams]="{allowEdit: '1'}" это роутеровская директива, которая к ссылке добавляет query параметры вида
       ?allowEdit=1
       fragment="loading" - добавляет фрагмент #loading в url
       -->
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <button class="btn btn-primary" (click)="onReloadPage()">Reload Page</button>
    <app-edit-server></app-edit-server>
    <hr>
<!--    <app-server></app-server>-->
  </div>
</div>

