<div class="container">
  <div class="row">
    <div class="col-md-8 m-auto">
      <h2>Reactive Form Approach</h2>
      <p>You're not configuring the form in the template, you're only synchronizing it with the directive, <code>formControlName</code> and
        <code>formGroup</code>.
        the typescript code, that's the place where you configure it.
      </p>
      <p>Конкретно в этом примерере конфигурация формы происходит в файле <code>reactive-form.component.ts</code></p>
      <form [formGroup]="myReactiveSignUpForm" (ngSubmit)="onSubmit()">
        <!-- [formGroup] directive tells Angular, hey please take my formGroup, don't infer one, don't create a form for me,
        use my formGroup instead. And we need to set up property binding here because we need to pass our form as an argument
        to the directive [formGroup]="myReactiveSignUpForm". And now this form actually
        synchronized with the form we created in TypeScript file.
        -->
        <div id="user-data" formGroupName="userData">
          <div class="form-group">
            <label for="username">Username</label>
            <!--Мы так же должны сказать Ангуляру which controls should be connected to which inputs in the template code,
            for this we get another directive - formControlName="username"

            nameOfControl это ключь в форме, которую мы создали в typescript файле. В нашем примере это
            this.myReactiveSignUpForm = new FormGroup({
                username: new FormControl(null),
                ...
            });

            -->
            <input
              type="text"
              id="username"
              formControlName="username"
              class="form-control">
            <span class="form-text text-danger"
                  *ngIf="username && !username.valid && username.touched">Please enter a valid username!</span>
          </div>
          <button class="btn btn-outline-dark mb-3" type="button">Suggest an Username</button>
          <div class="form-group">
            <label for="email">Mail</label>
            <input
              type="email"
              id="email"
              formControlName="email"
              class="form-control">
            <span class="form-text text-danger"
                  *ngIf="email && !email.valid && email.touched">Please enter a valid email!</span>
          </div>
        </div>
        <div class="radio" *ngFor="let gender of genders">
          <label for="genderInput">
            <input id="genderInput"
                   type="radio"
                   formControlName="gender"
                   [value]="gender">{{gender}}
          </label>
        </div>
        <div formArrayName="hobbies">
          <h4>Your Hobbies</h4>
          <button class="btn btn-outline-dark mb-3"
                  type="button"
                  (click)="onAddHobby()">Add Hobby</button>
          <div
            class="form-group"
            *ngFor="let hobbyControl of hobbies.controls; let i = index;">
            <input type="text" class="form-control" [formControlName]="i">
          </div>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>


