<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>What are Directives</h1>
      <p>
        A class that can modify the structure of the DOM or modify attributes in the DOM and component data model. A directive class definition is immediately preceded by a @Directive() decorator that supplies metadata.
      </p>
      <p>
        See more in the Angular <a href="https://angular.io/guide/glossary#directive">documentation</a>.
      </p>
      <h2>Определения из видеокурса</h2>
      <p>Directives are instructions in the DOM!</p>
    </div>
  </div>
</div>
