<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>What are Directives</h1>
      <p>
        A class that can modify the structure of the DOM or modify attributes in the DOM and component data model. A directive class definition is immediately preceded by a @Directive() decorator that supplies metadata.
      </p>
      <p>
        See more in the Angular <a href="https://angular.io/guide/glossary#directive">documentation</a>.
      </p>
      <h2>Определения из видеокурса</h2>
      <p>Directives are instructions in the DOM!</p>
      <h2>Пример своей собственной атрибутной директивы (attribute directive), <span appBasicHighlight>стилизующей текст</span></h2>
      <p>Lorem ipsum dolor sit amet, <span appBasicHighlight>consectetur adipisicing.</span></p>
      <p appBasicHighlight>Lorem ipsum dolor.</p>

      <p>Более правильный подход к стилизации элемента путем создания кастомной атрибутной директивы заключается в стилизации
        элемента не напрямую, а используя ангуляровский класс <em appBetterHighlight>Renderer2</em></p>
      <p>Lorem <span appBetterHighlight>custom attribute directive example</span> dolor</p>
      <p>Lorem <span appAnotherHighlight>ipsum</span> dolor sit.</p>
    </div>
  </div>
</div>
