/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,400;0,700;1,300&display=swap');
@import '~normalize.css';

/* Сетка бутстрапа
При подключении сетки подключаются и бутстраповские миксины и переменные, чтобы иметь возможность их переопределять я скопировал
весь scss бутстрапа в папку src/assets/scss/bootstrap/ и подключил оттуда только сетку.
Теперь в той папке, можно переопределять переменные в файле src/assets/scss/bootstrap/_variables.scss
*/
@import 'assets/scss/bootstrap/bootstrap-grid.scss';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* все элементы (включая псевдо элементы всех элементов ::before и ::after)
  будут наследовать свойство box-sizing: border-box; от body */
}

html {
  font-size: 62.5%; /* This defines what 1rem is */

  /* Если для элемента html установить font-size в процентах, то процент берется от шрифта браузера по умолчанию.
  Браузеры по умолчанию ставят шрифт равным 16px, а нам нужен 10px, поэтому 62.5% от 16px это как раз 10px.
  Можно сразу жестко задать 10px, но тогда те пользователи,
  которые в настройках своих браузеров увеличили шрифт по умолчанию, не увидят эффекта увелечения шрифта */

  /* Если бы это свойство использовалось только для шрифтов, то его можно было разместить в папку typograpy,
  но оно лежит тут потому-что по задумке оно используется
  не только для шрифтов, но и для маржинов/паддингов и других размерностей устанавливаемых через rem */
}

body {
  font-size: 1.8rem;
  font-family: 'Exo 2', "Helvetica Neue", Helvetica, Arial, sans-serif;

  overflow-y: scroll; // добавляем пустую полосу прокрутки, чтобы ширина страницы была одинакова для пустых страниц и страниц с контентом.

  // стили для полосы прокрутки браузера
  &::-webkit-scrollbar {
    width: .5rem;
    background-color: transparent;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  &::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }
}

a,
a:link,
a:visited,
a:hover,
a:active,
{
  color: #7a7a7a;
  text-decoration: none;
}

.app-ul {
  list-style-type: none;

  & > .app-ul-item {
    // стили
  }
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

/* Кнопки */
a.btn,
input.btn,
button.btn,
div.btn {
  background-color: white;
  border: none;
  outline: none;
  padding: 1rem;
  border-radius: .5rem;
  line-height: 1.2;
  display: inline-block;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1), -1px -1px 1px 1px rgba(0,0,0,0.1);
  transition: all .3s ease;
  cursor: pointer;
}

a.btn-primary,
input.btn-primary,
button.btn-primary,
div.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

a.btn-success,
input.btn-success,
button.btn-success,
div.btn-success {
  background-color: #4CAF50;
  color: white;
}

a.btn-danger,
input.btn-danger,
button.btn-danger,
div.btn-danger {
  background-color: #f44336;
  color: white;
}

a.btn[disabled],
input.btn[disabled],
button.btn[disabled],
div.btn[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

/* Инпуты для ввода текста */
.app-input-group {
  display: flex;

  & > input[type="text"],
  & > input[type="number"] {
    padding: 1rem;
    border: 1px solid #ced4da;
    border-radius: 5px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-top: .5rem;

    &:focus {
      border-color: #80bdff;
      outline: 0;
      box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
    }
  }

  &--column {
    flex-direction: column;
  }
}

.form-group {
  margin-bottom: $form-group-margin-bottom;
}

.form-control {
  display: block;
  width: 100%;
  height: $input-height;
  padding: $input-padding-y $input-padding-x;
}
textarea.form-control {
  height: auto;
}

/* Выпадающее меню */
.dropdown {
  position: relative;
  font-size: 1.4rem;

  &__button {
    display: flex;
    align-items: center;
    cursor: default;
    user-select: none;
  }

  & .dropdown-menu {
    position: absolute;
    right: 0;
    top: 150%;
    z-index: 999;
    background-color: whitesmoke;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    min-width: 170%;

    & > a {
      padding: .5rem;
      cursor: pointer;
    }
  }

  // по умолчанию выпадающее меню скрыто
  & .dropdown-menu {
    z-index: -999;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-out;
  }

  &.dropdown--open .dropdown-menu {
    z-index: 999;
    opacity: 1;
    visibility: visible;
  }

  & .arrow-down { // стрелка
    display: inline-block;
    line-height: 0;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
    transform: rotate(0deg);
  }

  &.dropdown--open .arrow-down {
    transform: rotate(90deg);
  }
}
